<h2>Ingredients</h2>
<table class="table table-striped">
  <thead>
  <tr>
  <th>Name</th>
  <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= link_to ingredient.name, ingredient_path(ingredient) %></td>
      <td><%= link_to 'edit', edit_ingredient_path(ingredient) %> | <%= link_to 'delete', ingredient_path(ingredient), :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div><%= link_to 'New Ingredient', new_ingredient_path %></div>